@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<style>
    /* Add CSS styles here */
    .center {
        text-align: center;
    }
</style>

<div class="center">
    <h1 class="display-4">♥Welcome to Benjie Tarpaulin Printing Shop♥</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>

    <button>
        <a class="nav-link text-dark" asp-area="" asp-page="/LogIn">Continue</a>
    </button>

</div>

